minimum_pre_commit_version: "3.5.0"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
      - id: check-json
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: scripts/checks/clang_format.sh
        language: system
        types_or: [c, c++, objective-c, objective-c++]
      - id: clang-tidy
        name: clang-tidy
        entry: scripts/checks/clang_tidy.sh
        language: system
        pass_filenames: true
        types_or: [c++, objective-c++]
        require_serial: true
